{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "auto"
      }
    ],
    "@babel/preset-react",
    "@babel/typescript"
  ],
  "plugins": ["transform-es2015-template-literals"]
}